<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- Admin User Management Servlet -->
    <servlet>
        <servlet-name>AdminUserManagementServlet</servlet-name>
        <servlet-class>com.onlinepharmacy.servlet.AdminUserManagementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminUserManagementServlet</servlet-name>
        <url-pattern>/admin-management</url-pattern>
    </servlet-mapping>

    <!-- User Management Servlet -->
    <servlet>
        <servlet-name>UserManagementServlet</servlet-name>
        <servlet-class>com.onlinepharmacy.servlet.UserManagementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserManagementServlet</servlet-name>
        <url-pattern>/user-management-list</url-pattern>
    </servlet-mapping>

    <!-- Delete User Servlet -->
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>com.onlinepharmacy.servlet.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/delete-user</url-pattern>
    </servlet-mapping>

    <!-- Register Servlet -->
    <!-- Regular User Login Servlet -->


    <!-- Login Servlet -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.onlinepharmacy.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <!-- Update Profile Servlet -->
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>com.onlinepharmacy.servlet.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/update-profile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.onlinepharmacy.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>


</web-app>
